# Creating class for reading file

In [1]:
#importing module
import pandas as pd

#Creating class for pandas method and function
class panda_data:
    def __init__(self, filename):
            self.filename = filename
            
    def read_file(self):
        "This function is used to read csv file"
        try:
            df = pd.read_csv(self.filename)
            print("Our dataframe is: \n", df)
        except Exception as e:
            print(e)
            
#object of the class 
d = panda_data("F:\\PGD_Data_Science\\Lecture_video\\panda\\student1.csv")

d.read_file()

Our dataframe is:
        name  gmat  gpa  exp  admitted country
0     samir   780  4.0    3         1     Ind
1   kaushal   750  3.9    4         1     Ind
2    nandan   690  3.3    3         0     Ind
3     ankit   710  3.7    5         1      us
4   deepika   680  3.9    4         0     Ind
5    kshama   730  3.7    6         1     Ind
6    gaurav   690  2.3    1         0      us
7      john   720  3.3    4         1      us
8      nida   740  3.3    5         1     Ind
9     samir   690  1.7    1         0     Ind
10  kaushal   610  2.7    3         0     Ind
11   nandan   690  3.7    5         1     Ind
12    ankit   710  3.7    6         1      us
13  deepika   680  3.3    4         0     Ind
14   kshama   770  3.3    3         1     Ind
15   gaurav   510  3.0    1         0     Ind
16     john   580  2.7    4         0     Ind
17     nida   650  3.7    6         1     Ind
18    samir   540  2.7   24         0     Ind
19  kaushal   590  2.3    3         0     Ind
20   nandan   620  3.3    2         1      us
21    ankit   600  2.0    1         0     Ind
22  deepika   550  2.3    4         0     Ind
23   kshama   550  2.7    1         0     Ind
24   gaurav   570  3.0    2         0      us
25     john   670  3.3    6         1     Ind
26     nida   660  3.7    4         1     Ind
27    samir   580  2.3    2         0     Ind
28  kaushal   650  3.7    6         1     Ind
29   nandan   660  3.3    5         1      us
30    ankit   640  3.0    1         0     Ind
31  deepika   620  2.7    2         0     Ind
32   kshama   660  4.0    4         1     Ind
33   gaurav   660  3.3    6         1     Ind
34     john   680  3.3    5         1     Ind
35     nida   650  2.3    1         0     Ind
36    samir   670  2.7    2         0      us
37  kaushal   580  3.3    1         0     Ind
38   nandan   590  1.7    4         0     Ind
39    ankit   690  3.7    5         1      us
40  deepika   690  3.7    5         1     Ind
41   kshama   690  3.7    5         1     Ind

# Creating class for performing pandas method on file

- Basic functionality on dataframe

1. dtype
2. ndim
3. size
4. head
5. tail
6. info
7. axes
8. empty
9. shape
10. sample
11. T (Transpose)

In [2]:
#importing module
import pandas as pd

#File path for functionalits of panda
file = "F:\\PGD_Data_Science\\Lecture_video\\panda\\student1.csv"
df = pd.read_csv(file)

#Creating class for pandas method and function
class dataframe:
    def __init__(self, filename, dataframe):
            self.filename = filename
            self.dataframe = dataframe
        
    def data_dimension(self):
        "This function return dimension of dataframe"
        try:
            print("\nDimension of our dataframe is : ", self.dataframe.ndim)
        except Exception as e:
            print(e)
       
    def data_type(self):
        "This function return type of dataframe"
        try:
            print("\nType of our dataframe is : " , type(self.dataframe))
        except Exception as e:
            print(e)
            
    
    def dataframe_size(self):
        "This function return size of dataframe"
        try:
            print("\nSize of our dataframe is : " , self.dataframe.size)
        except Exception as e:
            print(e)
    
    def first_five(self):
        "This function return first five entries of dataframe"
        try:
            print("\nFirst 5 entries from our dataframe is : \n" , self.dataframe.head())
        except Exception as e:
            print(e)
            
    def last_entries(self):
        "This function return last five entries of dataframe"
        try:
            print("\nLast 5 entries from our dataframe is : \n" , self.dataframe.tail())
        except Exception as e:
            print(e)

    def information(self):
        "This information return all information about dataframe"
        try:
            print("\nInformation about dataframe dataframe is : \n" ,self.dataframe.info())
        except Exception as e:
            print(e)
        
    def label_list(self):
        "This information return list of labels from dataframe"
        try:
            print("\nLabel of our dataframe is : \n", self.dataframe.axes)
        except Exception as e:
            print(e)
    
    def empty_object(self):
        "This information return list of labels from dataframe"
        try:
            #Returns the Boolean value saying whether the Object is empty or not. 
            #True indicates that the object is empty.
            print("\nGiven dataframe contain empty series or not : \n", self.dataframe.empty)
        except Exception as e:
            print(e)
    
    def shape_of_dataframe(self):
        "This function return shape of dataframe"
        try:
            print("\nShape of our dataframe is : " , self.dataframe.shape)
        except Exception as e:
            print(e)
    
    def random_dataframe(self):
        "This function return random sample"
        try:
            print("\nRandom entries from our dataframe is : \n" , self.dataframe.sample())
        except Exception as e:
            print(e)
            
    def tranpose_dataframe(self):
        "This function return transpose of dataframe"
        try:
            print("\nTranspose of dataframe is : \n" , self.dataframe.T)
        except Exception as e:
            print(e)
        
#object of the class 
d = dataframe(file, df)

#Calling functions
d.data_dimension()
d.data_type()
d.dataframe_size()
d.first_five()
d.last_entries()
d.information()
d.label_list()
d.empty_object()
d.shape_of_dataframe()
d.random_dataframe()
d.tranpose_dataframe()

Dimension of our dataframe is :  2

Type of our dataframe is :  <class 'pandas.core.frame.DataFrame'>

Size of our dataframe is :  252

First 5 entries from our dataframe is :
       name  gmat  gpa  exp  admitted country
0    samir   780  4.0    3         1     Ind
1  kaushal   750  3.9    4         1     Ind
2   nandan   690  3.3    3         0     Ind
3    ankit   710  3.7    5         1      us
4  deepika   680  3.9    4         0     Ind

Last 5 entries from our dataframe is :
        name  gmat  gpa  exp  admitted country
37  kaushal   580  3.3    1         0     Ind
38   nandan   590  1.7    4         0     Ind
39    ankit   690  3.7    5         1      us
40  deepika   690  3.7    5         1     Ind
41   kshama   690  3.7    5         1     Ind
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      42 non-null     object
 1   gmat      42 non-null     int64
 2   gpa       42 non-null     float64
 3   exp       42 non-null     int64
 4   admitted  42 non-null     int64
 5   country   42 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 2.1+ KB

Information about dataframe dataframe is :
 None

Label of our dataframe is :
 [RangeIndex(start=0, stop=42, step=1), Index(['name', 'gmat', 'gpa', 'exp', 'admitted', 'country'], dtype='object')]

Given dataframe contain empty series or not :
 False

Shape of our dataframe is :  (42, 6)

Random entries from our dataframe is :
     name  gmat  gpa  exp  admitted country
34  john   680  3.3    5         1     Ind

Transpose of dataframe is :
              0        1       2      3        4       5       6     7     8   \
name      samir  kaushal  nandan  ankit  deepika  kshama  gaurav  john  nida
gmat        780      750     690    710      680     730     690   720   740
gpa         4.0      3.9     3.3    3.7      3.9     3.7     2.3   3.3   3.3
exp           3        4       3      5        4       6       1     4     5
admitted      1        1       0      1        0       1       0     1     1
country     Ind      Ind     Ind     us      Ind     Ind      us    us   Ind

             9   ...      32      33    34    35     36       37      38  \
name      samir  ...  kshama  gaurav  john  nida  samir  kaushal  nandan
gmat        690  ...     660     660   680   650    670      580     590
gpa         1.7  ...     4.0     3.3   3.3   2.3    2.7      3.3     1.7
exp           1  ...       4       6     5     1      2        1       4
admitted      0  ...       1       1     1     0      0        0       0
country     Ind  ...     Ind     Ind   Ind   Ind     us      Ind     Ind

             39       40      41
name      ankit  deepika  kshama
gmat        690      690     690
gpa         3.7      3.7     3.7
exp           5        5       5
admitted      1        1       1
country      us      Ind     Ind

[6 rows x 42 columns]

# class  for Pandas cleaning data

It consists of 
1. Empty cells
2. remove empty rows
3. Replace empty values
4. Replace only for specified column
5. Replace Using Mean, Median, or Mode
6. Data of Wrong Format
7. Fixing Wrong Data
8. Discovering Duplicates
9. Removing Duplicates

In [6]:
#importing module
import pandas as pd

#File path for functionalits of panda
file = "F:\\PGD_Data_Science\\Lecture_video\\panda\\dirtydata.csv"
df = pd.read_csv(file)
x = int(input("Enter value to fill empty entries : "))

#Creating class for pandas method and function
class cleaning_data:
    def __init__(self, filename, dataframe, value):
            self.filename = filename
            self.dataframe = dataframe
            self.value = value
            
    def check_empty(self):
        "This function check for empty entries"
        try:
            print("\nDataFrame is : \n" , self.dataframe.isnull())
        except Exception as e:
            print(e)
            
    def count_empty(self):
        "This function count entry of empty entries"
        try:
            print("\nTotal empty value is : \n" , self.dataframe.isnull().sum())
        except Exception as e:
            print(e)
            
    def remove_empty(self):
        "This function count entry of empty entries"
        try:
            new_df = self.dataframe.dropna()
            print("\nDataframe after removal of empty entries : \n" , new_df)
        except Exception as e:
            print(e)
        
    def fill_empty(self):
        "This function fill of empty entries"
        try:
            new_df = self.dataframe.fillna(self.value)
            print("\nDataframe after removal of empty entries : \n" , new_df)
        except Exception as e:
            print(e)
        

cd = cleaning_data(file, df, x)

cd.check_empty()
cd.count_empty()
cd.remove_empty()
cd.fill_empty()

Enter value to fill empty entries : 120

DataFrame is :
     Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False   True     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

Total empty value is :
 Duration    0
Date        1
Pulse       1
Maxpulse    0
Calories    2
dtype: int64

Dataframe after removal of empty entries :
     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

Dataframe after removal of empty entries :
     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  120.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     120.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           120  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     120.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0